.about {
  display: flex;
}

.about--reversed {
  flex-direction: row-reverse;
}

.about__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 16rem 11rem 16rem 16rem;
}

.about__content--reversed {
  padding: 16rem 16rem 16rem 11rem;
}

.about__heading {
  color: $gunmetal;
  font-family: 'Fraunces', serif;
  font-size: 4rem;
  line-height: 1.2;
}

.about__text {
  color: $roman-silver;
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}

.about__link {
  color: $gunmetal;
  display: inline-block;
  font-family: 'Fraunces', serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 2.2rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
}

.about__link--yellow-underline {
  border-bottom: $golden-web 6px solid;
}

.about__link--pink-underline {
  border-bottom: $soft-red 6px solid;
}
