.logo {
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: lowercase;

  @include respond(small) {
    font-size: 2.4rem;
  }
}

.logo--white {
  color: $white;
}

.logo--green {
  color: $brunswick-green;
}
