.service {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  height: 60rem;
  justify-content: flex-end;
  padding: 0 19rem 5rem 19rem;
  text-align: center;
  width: 50%;
}

.service--graphic-design {
  background-image: url('../img/desktop/image-graphic-design.jpg');
  color: $brunswick-green;
}

.service--photography {
  background-image: url('../img/desktop/image-photography.jpg');
  color: $sapphire;
}

.service__heading {
  font-family: 'Fraunces', serif;
  font-size: 2.8rem;
  line-height: 1.2;
}

.service__text {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}
