.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.about__section {
  padding: 16rem 16rem 16rem 11rem;
}

.about__section--reverse {
  order: -1;
  padding: 16rem 11rem 16rem 16rem;
}

.about__heading {
  color: $gunmetal;
  font-family: 'Fraunces', serif;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.about__text {
  color: $roman-silver;
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.about__link {
  border-bottom: $golden-web 6px solid;
  color: $gunmetal;
  display: inline-block;
  font-family: 'Fraunces', serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 2.2rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
}

.about__link--soft-red-underline {
  border-bottom: $soft-red 6px solid;
}

.services {
  display: flex;
}

.services__section {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  height: 60rem;
  justify-content: flex-end;
  padding: 0 18rem 5rem 18rem;
  text-align: center;
}

.services__section--graphic-design {
  background-image: url('../img/desktop/image-graphic-design.jpg');
  background-size: cover;
  color: $brunswick-green;
}

.services__section--photography {
  background-image: url('../img/desktop/image-photography.jpg');
  background-size: cover;
  color: $sapphire;
}

.services__heading {
  font-family: 'Fraunces', serif;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.services__text {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}
