.services-section {
  display: flex;

  @include respond(small) {
    flex-direction: column;
  }
}

.testimonials-section {
  background-color: $white;
  padding: 16rem 4rem;

  @include respond(small) {
    padding: 8rem 2.4rem;
  }
}

.testimonials__heading {
  color: $silver-chalice;
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  margin-bottom: 8rem;
  text-align: center;
  text-transform: uppercase;

  @include respond(small) {
    font-size: 1.6rem;
  }
}

.testimonials {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  max-width: 112rem;

  @include respond(small) {
    flex-direction: column;
    gap: 5rem;
  }
}
