// Colors
$soft-red: hsla(7, 99%, 70%, 30%);
$golden-web: hsla(51, 100%, 49%, 30%);
$brunswick-green: hsl(167, 40%, 24%);
$winter-green: hsl(168, 34%, 41%);
$sapphire: hsl(198, 62%, 26%);
$gunmetal: hsl(212, 27%, 19%);
$black-coral: hsl(213, 9%, 39%);
$roman-silver: hsl(232, 10%, 55%);
$silver-chalice: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
