.header {
  background-image: url('../img/desktop/image-header.jpg');
  background-size: contain;
  height: 80rem;
  justify-content: space-between;
  text-align: center;
}

.header__icon {
  margin: 5rem;
}
