.navigation {
  @include respond(large) {
    display: none;
  }
}

.navigation__list {
  align-items: center;
  display: flex;
  gap: 4rem;
}

.navigation__link {
  color: $white;
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.navigation__btn {
  background-color: $white;
  border-radius: 3rem;
  color: $gunmetal;
  display: block;
  font-family: 'Fraunces', serif;
  font-size: 1.8rem;
  font-weight: 800;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
}
